:root {
  --bs-success: #219ebc;
  --bs-primary: #0466c8;
  --bs-info: #1a659e;
}

/* test update
danger: #f8285a
primary: #1a659e
success: #219ebc
light: #fff
dark: #1e2027 */

/* original vis
danger: #DD2D4A
primary: #1C1E25
success: #286B88
light: #F0E6DA
dark: #1C1E25 */